ul,li{
    list-style: none;
    margin: 0;
    padding: 0;
}
.musicbox{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: url(image/2.jpg) center center no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;     
}
.music{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 36vh;
    position: relative;
}
.music .rotate{
    animation: play 8s linear infinite;
}
@-webkit-keyframes play {
  0% {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
  }
}
.cd{
    min-width: 36vh;
    min-height: 36vh;
    border-radius: 50%;
    background: url(image/icon2.png) center center no-repeat;
    background-size: 100%;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top:10vh;
}
.cd>img{
    border-radius: 50%;
    width: 13vh;
    height: 13vh;
}
.music>img{
    z-index: 1;
    position: relative;
    left:13vh;
}
.main{
    width: 100%;
    padding: 3vh;
    padding-top:15vh;
    background: #D9DADF; 
    border-radius: 1.5vh;
    box-shadow: 0vh 0.5vh 1vh 0.2vh #3f357f;
    color: #595a5e;
    font-family: "Microsoft YaHei";

    position: relative;
    bottom:14vh;
}
.main .info{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main .info .title{
    font-size:2.2vh;
    font-weight: 500;
    margin-bottom: 0.8vh;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
    width: 100%;
    text-align: center;
}
.main .info .auther{
    font-size: 1.5vh;
    margin-bottom: 0.7vh;
}
.main .info .lyric{
    font-size:1vh;
    margin-bottom: 2vh;
    text-align: center;
}
.main .info .lyric>ul{
    height: 16.8vh;
    overflow:hidden;
}
.main .info .lyric li{
    margin: 1vh;
}
.info .lyric .current-line{
    color: #e25e5b;
    font-weight: bold;
    font-size: 1.6vh;
}
.progress{
    width: 100%;
    margin-bottom: 2vh;
}
.progress .bar {
    height: 0.5vh;
    background-color: rgba(0,0,0,0.2);
    cursor: pointer;
    border-bottom: 1px solid #eeeff3;
    border-left: 1px solid #eeeff3;
    border-right: 1px solid #eeeff3;
    border-radius: 10%;
}
.progress .progress-now{
    background-color:#e25e5b;
    height: 0.5vh;
    width: 0;
    border-radius: 10%;
    position: relative;
}
.progress .progress-now>img{
    margin-left:95%; 
    width: 3vh;
    position: relative;
    bottom: 1.1vh;
    right: 0.4vh;
}
.time{
    text-align: right;
    margin-top: 1vh;
    font-size: 1.5vh;
}
.control{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.control .icon-menu{
    position: absolute;
    left: 3vh;
    bottom: 3.7vh;
}
.control .menu>ul{
    width: 13vh;
    height: 26vh;
    background-color:rgba(241,241,241,0.7);
    position: absolute;
    bottom: 8vh;
    left: 1vh;
    overflow-y:scroll;
    text-align: center;
    font-size: 1.7vh;
    display: none;
}
.control .menu .icon-close{
    font-size:3.5vh;
}
.control .menu>ul>li{
    margin-top:1vh;
    margin-bottom: 1vh;
}
.control .icon-volume,.icon-volstop{
    position: absolute;
    right: 3vh;
    bottom: 3.7vh;
}
.control .icon-play,.icon-pause{
    font-size: 3.5vh;
    padding: 1vh;
    margin:  0 1.5vh;
    border:1px solid #cacad2;
    border-radius: 50%;
    box-shadow: 0vh 0vh 0vh 0.7vh #d3d4d9;
    background: #D9DADF;
}
.control .icon-pre,.icon-next{
    font-size:2vh;
    border:1px solid #cacad2;
    border-radius: 10%;
    box-shadow: 0vh 0vh 0vh 0.5vh #d3d4d9;
    padding: 0 0.8vh;
}
.control .volume>div{
    background-color:rgba(241,241,241,0.7);
    height: 12vh;
    position: absolute;
    bottom: 7.5vh;
    right: 3vh;
    padding: 1vh;
    display: none;
}
.control .volume>div .volume-total{
    background-color: rgba(0,0,0,0.2);
    width: 0.5vh;
    height: 100%;
    display: flex;
}
.control .volume>div .volume-now{
    width: 0.5vh;
    background-color: #e25e5b;
    height: 80%;
    align-self: flex-end;
}